<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pds.sample">

    <application>
        <activity android:name=".module.paging.PagingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.pdf.PDFWebLoadActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module.pdf.FileLoadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.pdf.PDFX5Activity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module.pdf.QBX5Activity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>