<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pds.sample">

    <application>
        <activity android:name=".module.paging.PagingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StartAppActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.pds.blog"
                    android:scheme="blog" />
            </intent-filter>
        </activity>
    </application>

</manifest>