<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pds.sample">

    <application>
        <activity android:name=".module.paging.PagingActivity" />
        <activity
            android:name=".module.pdf.PDFWebLoadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.pdf.FileLoadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".module.pdf.PDFX5Activity" />
        <activity android:name=".module.pdf.QBX5Activity" />
        <activity android:name=".module.pdf.PDFViewActivity" />
        <activity android:name=".ModuleActivity"
            android:theme="@style/AppTheme.MaterialComponents"/>
        <activity android:name=".module.html.HtmlCompatActivity"/>
        <activity android:name=".module.html.HtmlTextViewActivity"/>
        <activity android:name=".module.interpolatorplayground.InterpolatorActivity"/>
    </application>

</manifest>