<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pds.main">

    <application>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MaterialComponents"
            android:launchMode="singleTask"/>
    </application>
</manifest>