<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pds.splugin">

    <application>
        <activity android:name=".proxy.ProxyActivity"/>
        <service android:name=".proxy.ProxyService"/>
        <activity android:name=".proxy.ProxyReplaceActivity"/>
    </application>
</manifest>