<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.pds.kotlin.study">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MaterialComponents"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.pds.kotlin.study.ui.constraint.ConstraintMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.pds.kotlin.study.ui.constraint.ConstraintLayoutActivity"/>
        <activity
            android:name="com.pds.kotlin.study.ui.constraint.BehaviorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pds.kotlin.study.ui.constraint.CustomBehaviorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.pds.kotlin.study.ui.constraint.BottomSheetActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.pds.kotlin.study.ui.constraint.ListActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.pds.kotlin.study.ui.constraint.ConstraintActivity" />
    </application>

</manifest>